services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kub-ng-1-app
    ports:
      - "1080:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
