services:
  nginx:
    image: nginx:alpine
    container_name: kub-ng-1-nginx
    ports:
      - "80:80"
    volumes:
      - ./dist/kub-ng-1/browser:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
