services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    image: kub-ng-1-nginx:latest
    container_name: kub-ng-1-nginx
    ports:
      - "1080:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
